*{
    margin: 0;
}

.heading{
   font-family: 'Merriweather', serif;
font-family: 'Ubuntu', sans-serif;
}

p , .p{
   font-family: 'Ubuntu', sans-serif;
   padding:15px 15px 15px 15px;
}

.first{
   padding:4px 3px;
}



.container{
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 3px 3px 3px 3px;
    background-color:rgb(232, 230, 225) ;
}

.heading{
    color: rgb(184, 111, 3);
}

.list ul{
    list-style: none;
    display: flex;
    padding-top: 10px;
    font-size: 20px;
}
 .list li a{
    text-decoration: none;
    margin-top: 20px;
    
    padding: 14px 20px;
    color: rgb(184, 111, 3);
 }

 .list li a:hover{
   color:  rgb(65, 41, 5);
 }

 .article{
    padding: 20px 16px 20px 20px;
 }

 .image{
    height: 300px;
    width: 400px;
   
 }


 .big-box{
    display: flex;
    padding: 15px 15px 15px 15px;  
    flex-wrap: wrap;
 }

 
 .box{
    height: 300px;
    width: 400px;
    border: 1px solid  rgb(184, 111, 3);
    position: relative;
     margin: auto;
     text-align: center;
 }

 .box-content{
    height: 300px;
    width: 400px;

    transform-style: preserve-3d;
    transition: transform 0.9sec;

  
    
 }

 .front{
    position: absolute;
    height: 300px;
    width: 400px;  
    padding-top: 80px; 
    backface-visibility: hidden;   
 }




 .back
 {
    height: 300px;
    width: 400px;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  
 }
 .box-content:hover{
    transform: rotateY(180deg);
    cursor: pointer;

 }


 .end{
    height: 200px;
    width: 100%;
    text-align: center; 
    background-color:rgb(232, 230, 225) ;  
 }

.footer{
    margin: auto;
    padding-top:100px; 
 }

 .footer a{
    padding:2px 6px 7px 8px;
    text-decoration: none;
    color: rgb(184, 111, 3);
 }

 .footer a:hover{
   color:  rgb(65, 41, 5);

 }


 @media only screen and (max-width :850px)
 {
   .container{
      flex-direction: column;
      height: 140px;
      text-align: center;

   }

   .list ul{
      flex-direction: column;
      display: inline-block;
      align-items: center;
      margin: auto;
   }

   .big-box{
      flex-direction: column;    
      justify-content: space-around;
      padding-bottom: 20px;
   }
   .box{
      margin-bottom: 20px;
   }
}

@media only screen and(max-width:1000px) {
   .box{
      flex-basis: 20%;

   }
   
}




 



